.BarraPrincipal{
    width: 2%;
    height: 834px;
    background-color: #1F1D2B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.Icono{
    size: 130%;
}

.ContenedorIcono{
    align-items: center;
    justify-content: center;
}