// Variables
$color_azul_oscuro: #1F1D2B;
$color_azul_claro: #252836;
$color_verde: #3FAA86;
$color_placeholder: #ABBBC2;
$color_blanco: #FFFFFF;
$color_anular: #FF7CA3;

.BarraPrincipal{
    width: 7%;
    height: 100vh;
    background-color: $color_azul_oscuro;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Icono{
    size: 130%;
}

.ContenedorIcono{
    align-items: center;
    width: 70%;
    height: 7%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ContenedorIcono:focus, .ContenedorIcono:active{
    background: $color_verde;
}

