// Variables
$color_azul_oscuro: #1F1D2B;
$color_azul_claro: #252836;
$color_verde: #3FAA86;
$color_placeholder: #ABBBC2;
$color_blanco: #FFFFFF;
$color_anular: #FF7CA3;

.CabeceraUsuario{
    width: 86%;
    height: 12%;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    color: aliceblue;
}

.contenedorUsuarioFecha{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
}

.texto{
    justify-content: flex-start;
    font-family: 'Barlow', sans-serif;
}

.nombreUsuario{
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    color: $color_verde;
}

// .BarraBusqueda {
//     background: #2D303E;
//     border: 1px solid #393C49;
//     box-sizing: border-box;
//     border-radius: 8px;
//     position: static;
//     width: 250px;
//     height: 48px;
//     left: 393px;
//     top: 8.5px;
//     text-align: center;
//     font-family: 'Barlow', sans-serif;
//     font-size: 19px;
// }