.CabeceraMesero{
    width: auto;
    height: 65px;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.fecha{
    justify-content: flex-start;
}

.BarraBusqueda {
    background: #2D303E;
    border: 1px solid #393C49;
    box-sizing: border-box;
    border-radius: 8px;
    position: static;
    width: 250px;
    height: 48px;
    left: 393px;
    top: 8.5px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 19px;
}

.nombreMesero, .fecha{
    font-family: 'Barlow', sans-serif;
}
