.CabeceraOrden{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.detalleOrdenFecha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fecha{
    margin-right: 2px;
}

.contenedorNombreMesero{
    display: flex;
    
}