// Variables
$color_azul_oscuro: #1F1D2B;
$color_azul_claro: #252836;
$color_verde: #3FAA86;
$color_placeholder: #ABBBC2;
$color_blanco: #FFFFFF;
$color_anular: #FF7CA3;

.CabeceraOrden{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detalleOrdenFecha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.texto{
    font-family: "Barlow", sans-serif;
    margin-right: 2px;
    font-size: 25px;
}

.contenedorNombreMesero{
    display: flex;
}
.negritaTexto{
    font-family: "Barlow", sans-serif;
    margin-right: 2px;
    font-size: 30px;
    font-weight: bold;
    color:$color_verde;
}