// Variables
$color_azul_oscuro: #1F1D2B;
$color_azul_claro: #252836;
$color_verde: #3FAA86;
$color_placeholder: #ABBBC2;
$color_blanco: #FFFFFF;
$color_anular: #FF7CA3;

.FormularioOrden{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orden-nombreCliente, .orden-numeroMesa{
    width: 388px;
    height: 30px;
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
    margin-top: 1rem;
    color: $color_blanco;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 1px solid $color_verde;
    outline: 0px;
}

.mesa{
    border: none;
    width: 388px;
    margin-top: 30px;
    height: 30px;
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
    background-color: #1F1D2B;
    color: $color_blanco;
    border-bottom: 1px solid $color_verde;
    text-align: center;
}
