// Variables
$color_azul_oscuro: #1F1D2B;
$color_azul_claro: #252836;
$color_coral: #EA7C69;
$color_placeholder: #ABBBC2;
$color_blanco: #FFFFFF;
$color_anular: #FF7CA3;

// Componente InicioSesion
.InicioSesion {
display: flex;
flex-direction: column;
background-color: $color_azul_claro;
width: 100vw;
height: 100vh;
}

// Contenedor logo y formulario
.ContenedorLogo{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 85vh;
}

// Div donde se encuentra el logo con el nombre
.LogoEmpresa {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
}

// Logo
.LogoImg {
    width: 80%;
}

// Div donde se encuentra el formulario
.Datos {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// Div del formulario
.Form {
    width: 75%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #ffffff30;
    backdrop-filter: blur(50px);
}

// Div de grupo de etiqueta e input
.Grupo{
    width: 70%;
    display: flex;
    flex-direction: column;

    // Etiquetas de correo y contraseña
   .Texto {
        color: $color_azul_oscuro;
        font-size: 28px;
    }
    
    // Inputs
    .Input {
        background: none;
        border: none;
        border-bottom: 2px solid $color_azul_oscuro;
        outline: 0px;
        margin-bottom: 8px;
        font-size: 22px;
        color: $color_blanco;
        text-align: center;
    }
}

// Placeholder
::placeholder{
    color: $color_placeholder;
}

// Boton de iniciar sesion
.BtnInciarSesion {
    width: 60%;
    height: 8%;
    background: $color_coral;
    border-radius: 15px;
    color: $color_blanco;
    margin-top: 40px;
    font-size: 24px;
    border: none;
}
