// Variables
$color_azul_oscuro: #1F1D2B;
$color_azul_claro: #252836;
$color_coral: #EA7C69;
$color_placeholder: #ABBBC2;
$color_blanco: #FFFFFF;
$color_anular: #FF7CA3;
$color_verde: #3FAA86;

.Notificaciones{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color_azul_claro;
    height: 100vh;
    flex-wrap: wrap;
}

.Pedidos{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: $color_azul_claro;
    height: 100vh;
    flex-wrap: wrap;
}



.contenedorOrdenes::-webkit-scrollbar{
    width: 7px;
    margin: 4px;

}

.contenedorOrdenes::-webkit-scrollbar-thumb{
     background-color: $color_verde;
     border-radius: 5px;
}

.contenedorPedidos, .contenedorOrdenes{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 70%;
    align-items: flex-start;
    width: 90%;
    justify-content: space-around;
    color: aliceblue;
}


.contenedorPedidos::-webkit-scrollbar{
    width: 7px;
    margin: 4px;

}

.contenedorPedidos::-webkit-scrollbar-thumb{
     background-color: $color_verde;
     border-radius: 5px;
}
