.Orden{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 37vw;
    height: 95vh;
    left: 742px;
    top: 0px;
    background: #1F1D2B;
    scroll-behavior: smooth;
    overflow: scroll;
    scroll-behavior: smooth;
    height: 870px;
}