// Variables
$color_azul_oscuro: #1F1D2B;
$color_azul_claro: #252836;
$color_verde: #3FAA86;
$color_placeholder: #ABBBC2;
$color_blanco: #FFFFFF;
$color_anular: #FF7CA3;

.Orden{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 45%;
    top: 0px;
    background: #1F1D2B;
    height:94.5vh;
}

.contenedorMontoTotal{
    display: flex;
    justify-content: space-around;
}

.btnTotal{

    background-color: #3FAA86;
    color: #FFFFFF;
    border-radius: 5px;
    width: auto;
    height: 30px;
    border: none;
    font-weight: 500;
    font-size: 19px;
    font-family: "Barlow", sans-serif;
    margin-top: 30px;

}
.ProductosOrdenados{
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.ProductosOrdenados::-webkit-scrollbar{
    width: 7px;
    margin: 4px;

}

.ProductosOrdenados::-webkit-scrollbar-thumb{
     background-color: $color_verde;
     border-radius: 5px;
}


.TotalOrden{

    width: 100%;

}