
.VistaMesero {
    display: flex;
    flex-direction: row;
    background: #252836;
    margin-left: 2rem;
    color: aliceblue;

}


.barraBusqueda {

    background: #2D303E;
    border: 1px solid #393C49;
    box-sizing: border-box;
    border-radius: 8px;
    position: static;
    width: 209px;
    height: 48px;
    left: 393px;
    top: 8.5px;
    

}

.cabeceraMesero{
    position: absolute;
    width: 614px;
    height: 65px;
    left: 128px;
    top: 20px;


}